<div class="ui-dialog dialog-md zcampDialogBaseViewDiv">
    <div class="modal-header">
        <h4 class="modal-title">{{D_SELECT_SUB_PROCESS}}</h4>
    </div>

    <div class="modal-body">
        <div class="panel-body">
            <div class="tpl-process-list">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="buttonCancle btn btn-default btn-lg" data-dismiss="modal">{{COMMON_CANCEL}}
        </button>
        <button type="button" class="buttonFinish btn btn-primary btn-lg">{{COMMON_CONFIRM}}</button>
    </div>
</div>