<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title">{{TITLE_TASK_PARAM}}</h4>
    </div>

    <div class="modal-body">
        <div class="grid-container">
            <div class="operation-box" style="padding-right: 0">
                <div class="left-box">
                    <button type="button" class="btn btn-primary btn-lg js-code-edit">
                        <i class="fa fa-edit"></i><span>{{COMMON_EDIT}}</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg js-code-confirm" style="display: none">
                        <i class="fa fa-save"></i><span>{{COMMON_CONFIRM}}</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg js-code-cancel" style="display: none">
                        <i class="fa fa-remove"></i><span>{{COMMON_CANCEL}}</span>
                    </button>
                </div>
            </div>
            <div class="js-code-editor">
            </div>
        </div>
    </div>
</div>