<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>拖动部署实例</title>
    <link href="image/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="../js/iconfont/css/iconfont.css">
    <link rel="stylesheet" href="../js/zcamp/styles/appmgr-proj-all.css">
    <link rel="stylesheet" href="../js/frm/fish-desktop/css/fish-desktop-portal.css">
    <link rel="stylesheet" href="https://fish.iwhalecloud.com/fish-desktop/dist/fish-desktop/third-party/codemirror/lib/codemirror.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../js/frm/fish-desktop/libs/bootstrap/respond.js"></script>
    <![endif]-->
</head>


<body>
    <div id="zcampBaseViewDiv" class="zcampBaseViewDiv"></div>
    <script src="../js/fish-desktop-all.js"></script>
    <script src="../js/fish-desktop-locale.zh.min.js"></script>
    <script src="../js/fish-desktop-require.js" data-main="../js/main"></script>
</body>
</html>
