<div class="accordionBodyView ji-bis-domain-attr-panel">
    <form class="form-horizontal bis-domain-form">
        <div class="form-group margin-bottom margin-bottom-lg required">
            <label class="col-sm-4 control-label">{{I_PROCESS_DOMAIN}}</label>
            <div class="col-sm-8 input-group">
                <input name="bisDomain" class="combobox form-control bisDomain" type="text"
                data-rule="{{I_PROCESS_DOMAIN}}:required;"/>
            </div>
        </div>
    </form>
</div>
