<div class="row">
    <div class="col-md-12 process-editor-toolbar"></div>
    <div class="col-md-12 ">
        <div class="process-editor-splitter">
            <div class="process-editor-horizon-splitter">
                <div class="process-editor-stencilbox" style="overflow-x:hidden; overflow-y:auto;"></div>
                <div class="process-editor-contentpnl"></div>
                <!-- <div style="
                    height: 30px;
                    width: 500px;
                    /* background: green; */
                    position: absolute;
                    /* display: none; */
                    border-style: solid;
                    white-space: nowrap;
                    transition: left 0.4s ease 0s, top 0.4s ease 0s;
                    background-color: rgb(38, 101, 234);
                    border-width: 0px;
                    border-color: rgb(51, 51, 51);
                    border-radius: 4px;
                    color: rgb(255, 255, 255);
                    padding: 5px;
                    left: 233px;
                    top: 0px;
                "></div> -->
                <div class="process-editor-attrpnl" style="overflow-x:hidden; overflow-y:auto;"></div>
            </div>
            <div class="process-editor-errorMsgs">
            </div>
        </div>
    </div>
</div>